@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&display=swap');

:root {
    --primary-font: 'Montserrat';
    --bg: #FBFBFF;
    --text: #040F16;
    /* actions palette */
    --primary: #0B4F6C;
    --primary-text: #FBFBFF;
    --accent: #01BAEF;
    --accent-text: #040F16;
    --danger: #B80C09;
    --danger-text: #FBFBFF;
    --hr-color: #2c2c2d2c;
    --base-spacing-y: 3.6vh;
    --base-spacing-x: 4vw;
}

*,::after,::before {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

.pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
}

/* UKURAN TEKS RESPONSIF */
h1 {
    font-size: clamp(1.2rem, 3vw + 1rem, 3rem);
}

a, p, h3 {
    font-size: clamp(min(2.8vw, 1rem), 2vw + 0.1rem, max(1.2vw, 1rem));
    color: var(--text);
}

.project-link a {
    font-size: clamp(min(2vw, 0.6rem), 2vw + 0.1rem, max(1.2vw, 1rem));
}

#text-logo {
    font-weight: 600;
    font-size: clamp(min(6vw, 2rem), 2vw + 0.1rem, max(8vw, 3rem));
}

a {
    text-decoration: none;
}

.nav-lists li {
    list-style: none;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: inherit;
    text-align: justify;
    font-family: var(--primary-font);
}

body.dark-mode {
    --bg: #071820;
    --text: #E8F1F2;
    /* actions palette */
    --primary: #0B4F6C;
    --primary-text: #FBFBFF;
    --accent: #01BAEF;
    --accent-text: #FBFBFF;
    --danger: #B80C09;
    --danger-text: #FBFBFF;
    --hr-color: #f9f9f92d;
}

.nav-container, .footer-container {
    width: 90%;
    margin: 0 auto;
}

/* UNTUK GARIS BAWAH SETIAP JUDUL */
.decorated-title {
    text-decoration-line: underline;
    text-underline-offset: 0.8rem;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--accent);
    margin: calc(var(--base-spacing-y) / 1.6) 0;
}

/* NAVBAR */
nav, footer {
    background-color: var(--bg);
    color: var(--text);
}

nav {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    transition: 0.4s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid;
    border-bottom-color: #040f162c;
}

.nav-container {
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.nav-lists {
    display: flex;
    gap: 4rem;
    padding-left: 0;
}  

/* current active/shown page */
a.active {
    font-weight: 600;
    text-decoration-line: underline;
    text-underline-offset: 0.8rem;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--accent);
}

/* HAMBURGER BAR */
.nav-button {
    background: transparent;
    border: none;
    font-size: 1.8rem;
    color: var(--text);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-button-container {
    display: flex;
    gap: 3vw;   
}

#hamburger {
    display: none;
}

/* CONTENT SECTION */
.content {
    display: flex;
    min-height: 100vh; 
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    * {
        color: #E8F1F2;
    }
}

.content:nth-child(even) {
    background-color: var(--bg);
    * {
        color: var(--text);
    }
}

.section-container {
    width: 70%;
    margin: var(--base-spacing-y) 0;
}

/* ABOUT/LANDING PAGE PAGE */
#about {
    /* border-top: 5rem solid #e8e8e8; */
    background-image: linear-gradient(rgba(26, 26, 26, 0.65), rgba(10, 10, 10, 0.5)),
        url('images/AdobeStock_278688165.jpeg');
    background-size: cover;
}

#about * {
    color: #E8F1F2;
}

#about-container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

#about-contents {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
}

#pas-foto-container {
    padding-top: var(--base-spacing-y);
}

#pas-foto {
    display: block;
    max-width: 20vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid #FBFBFF;
}

/* PILL BUTTON */
.pill {
    color: #FBFBFF;
    font-weight: 500;
    font-size: clamp(0.9rem, 1vw + 0.5rem, 1.25rem);
    padding-inline: clamp(1.2em, 2vw + 1em, 2em);
    padding-block: clamp(0.5em, 1vw + 0.3em, 0.8em);
    line-height: 1.25;
    border-radius: 999em;
    background-color: var(--accent);
    border: none;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.pill:hover {
    cursor: pointer;
    transform: translateY(-0.35em);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #00afe0;
}

.logo {
    color: var(--accent-text);
    padding: 0;
    font-size: clamp(1.5rem, 3vw + 0.5rem, 2rem);
    background-color: transparent;
}

.logo:hover {
    background-color: transparent;
    box-shadow: none;
    transform: none;
    transform: scale(1.05);
}

/* EDUCATION SECTION */
.education-content {
    margin: var(--base-spacing-y) 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "school-name school-name"
        "school-activity-info school-logo";
}

.school-name {
    grid-area: school-name;
}

.school-activity-info {
    grid-area: school-activity-info;
}

.school-logo {
    grid-area: school-logo;
}

.school-activity-info,
.school-logo {
    padding: calc(var(--base-spacing-y) / 1.6) 0;
}

/* PROJECT LIST */
.project-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: calc(var(--base-spacing-y) / 1.6) 0;
}

.project-list-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: calc(var(--base-spacing-y) / 1.6);
    border-bottom: 1px solid var(--hr-color);
    gap: var(--base-spacing-x);
}

.project-link {
    padding: 1vh;
    text-decoration-line: underline;
}

.project-content-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.project-content-text ul {
    padding-left: 1em;
    padding-bottom: 1em;
}

/* Project image */
.image {
    max-width: clamp(25vw, 35vw, 40vw);
    display: block;
    margin: 0 auto;
}

.border-shadow {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* PROJECT TECHSTACK SPAN HASHTAG*/
.techstack-tag {
    border: max(1px, 0.1em) solid var(--accent);
    display: inline-block;
    padding: 0.4em 0.8em;
    border-radius: 999em;
    font-weight: bold;
    font-size: clamp(0.5rem, 1.5vw + 0.1rem, 0.8rem);
}

/* CARD CONTAINER UNTUK SKILLS & EDUCATION */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    margin: 3vh auto;
    /* padding-top: 2rem; */
}

.card-item {
    text-align: center;
    flex: 1 1 min(250px, 30%);
    min-width: 240px;
    max-width: 32%;
    background-color: #FBFBFF;
    padding: 1.75rem;
    color: #040F16;
    border-radius: 1rem;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: transform 0.25s ease;
    * {
        color:#040F16;
    }
}

.card-item:hover {
    transform: scale(1.03);
}

.card-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* FOOTER */
footer {
    padding: calc(var(--base-spacing-y) / 1.6) 0;
    font-size: 18px;
    text-align: center;
    margin-top: auto;
    border-top: 1px solid;
    border-top-color: var(--hr-color);
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: calc(var(--base-spacing-y) / 1.6 / 1.6) 0;
    width: 100%;
}


/* RESPONSIF */
@media only screen and (max-width: 600px) {
    .section-container {
        width: 80%;
    }

    #pas-foto {
        max-width: 45vw;
    }
}

@media only screen and (max-width: 768px) {
    #hamburger {
        display: block;
    }

    /* HAMBURGER LIST */
    .nav-lists {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--bg);
        gap: 1.5rem;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
        border-bottom: 1px solid transparent;
    }

    .nav-lists.show {
        max-height: 400px;
        padding: 1rem 0 1.5rem;
        padding-left: 0;
        padding-top: 0;
        border-bottom-color: #040f162c;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05);
    }
}

@media only screen and (min-width: 600px) {
    .section-container {
        width: 80%;
    }
    #pas-foto {
        max-width: 30vw;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
    #pas-foto-container {
        padding: 0;
    }

    #pas-foto {
        max-width: 25vw;
    }
}

@media only screen and (max-width: 992px) {
    #about-container {
        flex-direction: column-reverse;
    }

    .card-container {
        flex-direction: column;
        gap: 4rem;
        justify-content: center;
        align-items: center;
    }

    .card-item {
        min-width: 160px;
        max-width: 60%;
    }

    .card-image,
    .image {
        max-width: clamp(50vw, 60vw, 80vw);
        display: block;
        margin: 0 auto;
    }

    .project-list-content {
        flex-direction: column-reverse;
    }

    #about {
        background-image: url('images/b99e027db5bc5eec52cc3336a203c97b.jpg');
        background-size: cover;
    }

    .pill {
        display: block;
        margin: 0 auto;
    }

    .pill.logo {
        display: inline-flex;
        margin: 0;
        padding-inline: clamp(0.3em, 1vw + 0.5em, 0.6em);
    }

    .contact-wrapper {
        gap: 0.2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .section-container {
        width: 80%;
    }

    #pas-foto {
        max-width: 20vw;
    }
}
